<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New post</title>
</head>
<body>
  <h1>Determine the gender</h1>
  <hr>
  <form action = "/write" method = "post"
    <label for="title">Name</label><br>
    <input type="text" name="title" id="title"><br>
    <label for="content">Description</label><br>
    <textarea name="content" id="content" rows="20" cols="100"></textarea><br>
    <button>Send</button>
  </form>
</body>
</html>
